<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">


    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:app.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="false"/>
    </bean>

    <bean id="bookContents" class="com.example.xmldi.contents.BookContents">
        <constructor-arg value="Приключения Тома Сойера"/>
    </bean>

    <bean id="toyContents" class="com.example.xmldi.contents.ToyContents">
        <constructor-arg value="Радиоуправляемая машина"/>
    </bean>

    <bean id="bookBox" class="com.example.xmldi.box.Box">
        <constructor-arg value="20"/>
        <constructor-arg value="10"/>
        <constructor-arg value="30"/>
        <constructor-arg ref="bookContents"/>
    </bean>

    <bean id="toyBox" class="com.example.xmldi.box.Box">
        <constructor-arg value="15"/>
        <constructor-arg value="15"/>
        <constructor-arg value="15"/>
        <constructor-arg ref="toyContents"/>
    </bean>

    <bean id="labelHolder" class="com.example.xmldi.support.LabelHolder">
        <property name="label" value="${label.text}"/>
    </bean>
</beans>
